@import "../../variables.scss";

.container__main-timescales {
  margin: 65px 5px 0 5px;
  display:flex;
  flex-direction: column;
  gap:85px;
}
.container__timeScale {

  &_hour {
    background-color: rgb(96, 136, 216);
    border-radius: 5px;
    color: white;
    width: 30px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;

    margin-bottom: 5px;

    p {
      font-size: 12px;
      @media (max-width: $breakpoint-mobile) {
        font-size: 10px;
      }
    }
  }
}

.timeScale1 {
  // Tuesday
  display: none;
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.timeScale2 {
  // Wednesday
  display: none;
  @media (max-width: $breakpoint-desktop) {
    display: block;
  }
}

.timeScale3 {
  // Thursday
  display: none;
  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
  @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-desktop-large) {
    display: block;
  }
}

.timeScale4 {
  // Friday
  display: none;
  @media (max-width: $breakpoint-desktop) {
    display: block;
  }

  @media (min-width: $breakpoint-desktop-large) and (max-width: $breakpoint-desktop-extralarge) {
    display: block;
  }
}
