/* =========================================== */
/* VARIABLES */
/* =========================================== */

// $primary-color: #ff6060;
// $primary-bg-color: #f6f6f6;

$primary-color: #134074;
$primary-bg-color:#eef4ed;
$color2: #13315c;
$color3: #0b2545;
$color4:#8da9c4;


$breakpoint-xxs: 370px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extralarge: 1768px;

