/* =========================================== */
/* VARIABLES */
/* =========================================== */

$primary-color: #ff6060;
$primary-bg-color: #f6f6f6;

$breakpoint-xxs: 370px;
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extralarge: 1768px;

